/.vs/Bulky
/.vs/ProjectEvaluation
/.vs/Bulky/DesignTimeBuild/.dtbcache.v2
/.vs/Bulky/FileContentIndex/ddc89c6d-6829-4a9c-b125-9ce0b1ff1892.vsidx
/Bulky.DataAccess/obj/Debug/net7.0/Bulky.DataAccess.assets.cache
/Bulky.DataAccess/obj/Debug/net7.0/Bulky.DataAccess.csproj.AssemblyReference.cache
/Bulky.DataAccess/obj/Debug/net7.0/Bulky.DataAccess.GeneratedMSBuildEditorConfig.editorconfig
/Bulky.DataAccess/obj/Bulky.DataAccess.csproj.nuget.dgspec.json
/Bulky.DataAccess/obj/Bulky.DataAccess.csproj.nuget.g.props
/Bulky.DataAccess/obj/project.assets.json
/Bulky.DataAccess/obj/project.nuget.cache
/Bulky.Models/obj/Debug/net7.0/Bulky.Models.assets.cache
/Bulky.Models/obj/Debug/net7.0/Bulky.Models.csproj.AssemblyReference.cache
/Bulky.Models/obj/Debug/net7.0/Bulky.Models.GeneratedMSBuildEditorConfig.editorconfig
/Bulky.Models/obj/Bulky.Models.csproj.nuget.dgspec.json
/Bulky.Models/obj/Bulky.Models.csproj.nuget.g.props
/Bulky.Models/obj/project.assets.json
/Bulky.Models/obj/project.nuget.cache
/Bulky.Utility/obj/Bulky.Utility.csproj.nuget.dgspec.json
/Bulky.Utility/obj/Bulky.Utility.csproj.nuget.g.props
/Bulky.Utility/obj/project.assets.json
/Bulky.Utility/obj/project.nuget.cache
/Bulky.Utility/obj/Debug/net7.0/Bulky.Utility.assets.cache
/Bulky.Utility/obj/Debug/net7.0/Bulky.Utility.csproj.AssemblyReference.cache
/Bulky.Utility/obj/Debug/net7.0/Bulky.Utility.GeneratedMSBuildEditorConfig.editorconfig
/BulkyWeb/obj/Debug/net7.0/BulkyWeb.assets.cache
/BulkyWeb/obj
/BulkyWeb/obj/Debug/net7.0/BulkyWeb.csproj.AssemblyReference.cache
/BulkyWeb/obj/Debug/net7.0/BulkyWeb.GeneratedMSBuildEditorConfig.editorconfig
/BulkyWeb/obj/BulkyWeb.csproj.nuget.dgspec.json
/BulkyWeb/obj/BulkyWeb.csproj.nuget.g.props
/BulkyWeb/obj/project.assets.json
/BulkyWeb/obj/project.nuget.cache
/BulkyWebRazor_Temp/obj/project.nuget.cache
/BulkyWebRazor_Temp/obj/project.assets.json
/BulkyWebRazor_Temp/obj/Debug/net7.0/BulkyWebRazor_Temp.GeneratedMSBuildEditorConfig.editorconfig
/BulkyWebRazor_Temp/obj/Debug/net7.0/BulkyWebRazor_Temp.csproj.AssemblyReference.cache
/BulkyWebRazor_Temp/obj/Debug/net7.0/BulkyWebRazor_Temp.assets.cache
/BulkyWebRazor_Temp/obj/BulkyWebRazor_Temp.csproj.nuget.g.props
/BulkyWebRazor_Temp/obj/BulkyWebRazor_Temp.csproj.nuget.dgspec.json
